.painting-details {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.image-section {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.image-section img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

.details-section {
    flex: 1;
    padding: 10px 20px;
}

.details-section h2 {
    color: #004085;
    margin-bottom: 10px;
}

.details-section p {
    line-height: 1.6;
}

.details-section ul {
    list-style-type: none;
    padding: 0;
}

.details-section li {
    margin: 10px 0;
    font-size: 1.1em;
}