.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 145px;
  left: 0;
  bottom: 0;
  width: 80px;
  z-index: 2;
  cursor: pointer;
  background-color: white;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: rgb(236, 232, 232);
}

.sidebar-link img {
  height: 25px;
  margin-bottom: 3px;
}
.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;

}
